#bedu-logo {
  margin-left: 20px;
  width: 50px;
  display: flex;
  align-items: center;
}

nav {
  background-color: #2c2c2c;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > div > a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

a:hover{
  color: #33B8FF;
}

nav > div:first-child {
  flex-grow: .1;
}

